.wp-block-lsedu-plus-lesson-list-header {

  .block-editor-inner-blocks {
    width: 100%;
  }

  .block-editor-block-list__layout{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}